{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('../static/images/hero_1.jpg');"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Jobs</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'website:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Jobs</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ajax_listing_paginattion" class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">

    <div class="row">


      {% for job in page_obj %}
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
        <a href="{% url 'website:job-single' pk=job.id %}" class="block__16443 min-h text-center d-block">
          <!-- <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span> -->
          <h3>{{job.subject}}</h3>
          {% if job.company %}
            <ul class="job-listing-meta list-unstyled pl-0 mb-0">
              <li class="badge badge-secondary menu-fix "> {{job.company.city.name}}</li>
              <span class="badge badge-danger">
                {{job.company.name}}
              </span>
            </ul>
          {% endif %}
          <hr class="border-3">
          <p>{{ job.description | safe | truncatechars:150}}</p>
            <hr class="border-3">
            <h5>requirements:</h5>
            {% for talent in job.talents %}
              <span style="color:#2a2b2d; font-size:0.8rem"> - {{talent}}</span><br>
            {% endfor %}

        </a>
      </div>
      {% endfor %}
    </div>
    {% include 'paginator.html' %}
  </div>
</section>
{% endblock %}
</body>

</html>